/*-- scss:defaults --*/
// Default variables and settings can go here

/*-- scss:rules --*/

#about-block {
  max-width: 90%;     // increase from default (often 600-800px)
  margin-left: auto;
  margin-right: auto;  // keeps it centered
}


/*-- scss:mixins --*/
// Mixins can go here

/*-- scss:functions --*/
// Functions can go here

/*-- scss:uses --*/
// Imports and uses can go here