/*-- scss:defaults --*/


/*-- scss:rules: --*/

.committee {
  list-style-type: disc;
  padding-left: 1.2em;
}

.committee .member {
  display: inline;
}

.committee .indent {
  display: inline-block;
  margin-left: 10.5ch; /* matches width of "Graduate Committee: " */
}
 

/* About Block */
#about-block {
  background-image: url('img/index/speaks_bgr.png');
  background-size: 100% auto;
  background-position: center 100%;
  //background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0.5rem 2rem 2rem 2rem;
  border-radius: 12px;
  color: black;
  position: relative;
  z-index: 1;
  filter: grayscale(0%);
  // border: 0.5px solid grey;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

#about-block::before {
  content: "";
  position: absolute;
  inset: 0;
  //background-color: rgba(0, 0, 0, 0.6); /* optional dark overlay */
  z-index: -1;
  border-radius: 18px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#about-block {
  /* existing styles... */
  animation: fadeInDown 1.5s ease-out;
}

.thesis-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    gap: 1rem;
  }

.thesis-text {
    flex: 1;
    padding-right: 20px;
  }

.thesis-image {
    flex-shrink: 0;
    width: 175px;
    border-radius: 4px;
  }

@media (max-width: 768px) {
    .thesis-section {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .thesis-text {
      padding-right: 0;
    }

    .thesis-image {
      width: 100%;
      max-width: 300px;
      margin: 0 auto; 
    }
  }



