/*-- scss:defaults --*/

// set constants

// Project button class

// Navbar
$navbar-color: #DF536B !default; //go to default if this breaks 
$navbar-padding-y: 1rem !default;

// Link colors
$box-bg-color:  #fafafa!default;
$box-border-color: #d3d3d3 !default;
$hover-color: #fefefe !default;
$link-color:  steelblue !default;

/*-- scss:rules: --*/

// making objects, like a box with specified colors 

.box {
    background: $box-bg-color;
    border-radius: 5px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid $box-border-color;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.box-media {
    @extend .box;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Spread items across the container */
    gap: 20px; /* Space between text and iframe */
}

.box-media-text {
    flex: 1; /* Allow text to take available space */
}

.box-media-embed {
    flex-shrink: 0; /* Prevent the embedded post from shrinking */
}

.box:hover {
  background-color: $hover-color;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.1);
}