/* Default variables and settings */

/*-- scss:rules --*/
/* Make the navbar text bold */
.navbar .navbar-nav a {
    font-weight: bold;
    margin: 0 5px;
}
/* Shimmer effect on navbar items */
.navbar-nav a {
    // position: relative;
    // display: inline-block;
    color: #fff; /* Ensure this color has sufficient contrast */
    text-decoration: none;
    will-change: transform; /* Optimize rendering for animations */
    overflow: hidden; /* Ensure the shimmer effect stays within the text bounds */
    transition: transform 0.3s ease; /* Smooth transition for the scale effect */
}

.navbar-nav a:hover {
    // background: linear-gradient(90deg, transparent, rgba(255, 215, 0, 0.6), transparent); /* Gold color */
    // background-size: 200% 100%;
    // background-position: -100% 0;
    // -webkit-background-clip: text;
    // background-clip: text;
    // color: transparent;
    // animation: shimmer 1.5s infinite;
    transform: scale(1.1); /* Slightly increase the size of the text */
}


