project:
  type: website
  output-dir: docs
                              
website:
  title: "Jackson Strand"
  site-url: https://jackson-strand.com
  # search:
  #   location: sidebar
  #   type: textbox
  bread-crumbs: true
  favicon: img/aboutme/logo.png
  navbar:
    # background: dark
    pinned: true 
    # search: true
    logo: img/aboutme/logo.png
    title: "Jackson R. Strand"
    left:
      - text: 'Research'
        menu:
        - text: "Research Overview"
          file: qmd/research/research.qmd
        - text: "PhD Field Notes"
          file: qmd/projects/field_notes/fieldjournal.qmd
        - text: 'Publications'
          file: qmd/publications/publications.qmd
        - text: "Talks & Presentations"
          file: qmd/presentations/presentations.qmd
      - text: "Projects" 
        menu:
        - text: "LRES GSO"
          file: qmd/projects/LRES_GSO/LRES_GSO.qmd
        - text: "Basketball Roster Analysis Tool"
          file: qmd/projects/bball_tool/bball_tool.qmd
      - text: "In the Media" 
        file: qmd/media/media.qmd
      - text: "Helpful Resources"
        file: qmd/helpful/helpful.qmd 
      # - text: 'Photography <i class="fas fa-arrow-up-right-from-square" style="font-size:0.8em;"></i>'
      #   url: "https://jacksonstrandphoto.myportfolio.com"
      #   target: _blank
                                          
    # right: 
    #   - text: 'Photography <i class="fas fa-arrow-up-right-from-square" style="font-size:0.8em;"></i>'
    #     url: "https://jacksonstrandphoto.myportfolio.com"
    #     target: _blank
    tools:   
      - icon: camera
        href: https://jacksonstrandphoto.myportfolio.com
        target: _blank
        aria-label: "Photography Portfolio"
      - icon: linkedin
        href: https://linkedin.com/in/jacksonstrand 
      # - icon: instagram
      #   href: https://www.instagram.com/jstrand894/
      - icon: github
        href: https://github.com/jstrand894/quarto_website
      - icon: envelope
        href: "mailto:jstrand894@gmail.com"
 
  page-footer:
    right: "Built with [Quarto](https://quarto.org/)"
    left: "&copy; Copyright 2025, Jackson R. Strand" 

format:  
  html:
    toc: true
    toc-depth: 3
    smooth-scroll: true
    engine: knitr
    theme: 
      light: [_themes.scss]
    # title-block-banner: "#9e74f1"
    # mainfont: "Playfair Display"
    # sansfont: "Source Sans Pro"
    # serif-font: "Lora"
    # monofont: "IBM Plex Mono"
    code-block-bg: true
    code-block-border-left: "#1abcd9"
    code-copy: true
    code-overflow: wrap
    css: [styles.css, scss_files/_box.scss]
    grid:
      sidebar-width: 300px
      body-width: 1000px
      margin-width: 200px
    include-in-header:  
      - text: |
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
      - text: |
          <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
          />
      - text: |
          <!-- Google tag (gtag.js) -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=G-95KDY0HY4C"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-95KDY0HY4C');
          </script>

    include-after-body:
    - text: |
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
        <script>
          Fancybox.bind("[data-fancybox='gallery']", {
            Thumbs: false,
            Toolbar: {
              display: ["close","prev","next"],
            },
          });
        </script>


  
freeze: true
  
editor: source


